* {
  text-align: center;
  position: relative;
  top: 50px;
}

body {
  background-color: black;
}

/* @font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	/* font-family: 'NeoDunggeunmo'; */
  font-family: 'IBMPlexSansKR-Regular';
} 


.clockAreaStyle {
  width: 80%;
  align-self:center;
  margin: auto;
  border: 5px solid aliceblue;
  border-radius: 30px;
  padding-bottom: 10%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clockSourceStyle{
  /* background-color: antiquewhite; */
  padding-bottom: 8%;
  display: block;
  text-align: center;
}

.modeTitleStyle {
  position: relative;
  font-size: 60px;
  font: bold;
  display: block;
  color: whitesmoke;
}

.dateStyle {
  position: relative;
  font-size: 60px;
  color: darkorange;
  display: block;
}

.timeStyle {
  position: relative;
  font-size: 90px;
  font-weight: bold;
  color: red;
  display: block;
  text-align: center;
  width: 90%;
  margin: 5px auto;
  border: 2px solid black;
  border-radius: 10px;
}

.buttonAreaStyle{
  display: block;
}

.buttonStyle {
  width: 120px;
  height: 50px;
  font-size: x-large;
}

