* {
  text-align: center;
  position: relative;
  top: 50px;
}

body {
  background-color: black;
}

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

* {
	font-family: 'intelone-mono-font-family-regular';
}

.clockAreaStyle {
  width: 80%;
  align-self:center;
  margin: auto;
  border: 5px solid aliceblue;
  border-radius: 30px;
  padding-bottom: 10%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clockSourceStyle{
  /* background-color: antiquewhite; */
  padding-bottom: 8%;
  display: block;
  text-align: center;
}

.modeTitleStyle {
  position: relative;
  font-size: 60px;
  font: bold;
  display: block;
  color: whitesmoke;
}

.dateStyle {
  position: relative;
  font-size: 60px;
  color: darkorange;
  display: block;
}

.timeStyle {
  position: relative;
  font-size: 90px;
  font-weight: bold;
  color: red;
  display: block;
  text-align: center;
  width: 90%;
  margin: 5px auto;
  border: 2px solid black;
  border-radius: 10px;
}

.buttonAreaStyle{
  display: block;
}

.buttonStyle {
  width: 120px;
  height: 50px;
  font-size: x-large;
}

