* {
  text-align: center;
  position: relative;
  top: 50px;
}

body {
  background-color: black;
}

.clockAreaStyle {
  border: 5px solid aliceblue;
  display: inline-block;
}

.modeTitleStyle {
  position: relative;
  font-size: 48px;
  font: bold;
  color: whitesmoke;
}

.dateStyle {
  position: relative;
  font-size: 60px;
  color: darkorange;
  display: block;
}

.timeStyle {
  position: relative;
  font-size: 90px;
  font-weight: bold;
  color: darkgray;
  display: block;
}

.buttonStyle {
  width: 120px;
  height: 50px;
  font-size: x-large;
}

