* {
  text-align: center;
  position: relative;
  top: 50px;
}

body {
  background-color: black;
}

.clockAreaStyle {
  width: 80%;
  align-self:center;
  margin: auto;
  border: 5px solid aliceblue;
  border-radius: 30px;
  padding-bottom: 10%;
  display: block;
  justify-content: center;
  align-items: center;
}

.clockSourceStyle{
  /* background-color: antiquewhite; */
  padding-bottom: 8%;
  display: block;
}

.modeTitleStyle {
  position: relative;
  font-size: 48px;
  font: bold;
  display: block;
  color: whitesmoke;
}

.dateStyle {
  position: relative;
  font-size: 60px;
  color: darkorange;
  display: block;
}

.timeStyle {
  position: relative;
  font-size: 90px;
  font-weight: bold;
  color: darkgray;
  display: block;
}

.buttonAreaStyle{
  display: block;
}

.buttonStyle {
  width: 120px;
  height: 50px;
  font-size: x-large;
}

